.rt-image-select-pv .no-user-select{
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
}
.rt-image-select-pv .gone{
    display: none;
}
.rt-image-select-pv .text-center{
    text-align: center;
}
.rt-image-select-pv{
    width: 100%;
    text-align: left;
    position: relative;
}
.rt-image-select-pv p{
    margin: 0px;
}
.rt-image-select-pv .holder > .label{
    font-size: 1.2em;
}
.rt-image-select-pv .holder > .prompter{
    display: flex;
    padding: 15px 8px;
    align-items: center;
    flex-flow: row nowrap;
    background-color: #F1F1FF;
    border: 1px solid rgba(0, 0, 0, .125);
}
.rt-image-select-pv .holder > .prompter .drag-drop-prompt{
    padding: 0px 15px;
}
.rt-image-select-pv .holder > .prompter .prompter-button-holder{
    width: 200px;
    padding: 4px;
    cursor: pointer;
    position: relative;
    border-radius: 5px;
    color: #333333;
    border: 1px solid #cccccc;
    background-color: #fefefe;
    box-shadow: rgba(145, 145, 145, 1) 1px 1px;
    transition: background-color ease-in-out 0.4s 0.02s;
}
.rt-image-select-pv .holder > .prompter .prompter-button-holder:hover{
    background-color: rgba(0, 0, 0, .125);
    transition: background-color ease-in-out 0.4s 0.02s;
}
.rt-image-select-pv .holder > .prompter .prompter-button-holder .prompter-button{
    display: inline-flex;
}
.rt-image-select-pv .holder > .prompter .prompter-button-holder img{
    height: 20px;
}
.rt-image-select-pv .holder > .prompter .prompter-button-holder small{
    margin-left: 20px;
}
.rt-image-select-pv .holder > .prompter .prompter-button-holder .box .prompter-label{
    font-size: 18px;
    margin-top: -3px;
}
.rt-image-select-pv .holder > .preview{
    display: flex;
    flex-wrap: wrap;
    margin: 15px 8px;
    position: relative;
    flex-direction: row;
}
.rt-image-select-pv .holder > .preview .each-image{ 
    margin-right: 15px;
    position: relative; 
    margin-bottom: 10px;
    border: 1px solid #ccc;  
}
.rt-image-select-pv .holder > .preview .each-image:last-child{ 
    margin-right: 0px;
}
.rt-image-select-pv .holder > .preview .each-image > .box{    
    padding: 8px;
}
.rt-image-select-pv .holder > .preview .each-image > .box img{ 
    height: 100px;
    width: auto;
}
.rt-image-select-pv .holder > .preview .ab-position-cancel{
    top: -4px;
    right: -4px;
    position: absolute;
}
.rt-image-select-pv .holder > .preview .each-image > .box .small-cancel{
    font-size: 14px;
    color: #333333;
    text-align: center;
    border-radius: 50%;
    position: relative;
    padding: 2px 8px;
    background: rgba(145, 145, 145, 0.7);
    font-family: 'Verdana', 'Arial Narrow', Arial, sans-serif;
}
.rt-image-select-pv .holder > .errors{
    color: palevioletred;
    font-size: 0.9em;
}
.rt-image-select-pv .holder > .errors p{
    font-size: 1.1em;
    font-weight: 500;
    margin: 0px;
}